@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100%;
    overflow-x: hidden;
    background-color: #F8F8F1;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

#root{
    height: 100%;
   
    overflow-x: hidden;
}



.App{
    overflow-x: hidden;  
}


.navigation-bar{
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 60px;
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
    .navigation-bar{
    width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .navigation-bar{
    justify-content: center;
    }
}

.projects-container{
    padding-left: 20px;
}


.header-container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    justify-content: left;
}

@media screen and (max-width: 1250px) {
    .header-container{
    width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .header-container{
    align-items: center;
    }
}


.projects-header{
    font-family: 'Quicksand', sans-serif;
    color: #36475d;
    font-weight: 500;
    font-size: 3em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 1000px) {
    .projects-header{
    font-size: 1.8em;
    }
}

.inds{
    font-weight: 400;
    font-size: 1.8em;

    margin-block-start: .2em;
    margin-block-end: 0em;
}




.accordion-skills-sm{
    padding-top: 40px;
    color: white;
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
@media screen and (max-width: 1250px) {
    .accordion-skills-sm{
    margin-right: 25px;
    }
}

@media screen and (max-width: 499px) {
    .accordion-skills-sm{
    font-size: .8em;
    }
}

.rows{
    width: 150px;
}

.flex{
    display: flex;
    width: 1200px;
    padding-bottom: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 1250px) {
    .flex{
    width: 100%;
  
    padding-right: 25px;
    }
}

@media screen and (max-width: 950px) {
    .flex{
    flex-direction: column;
    align-items: center;
    }
}


.footer-icon-container_top{
    margin-top: 5px;
    opacity: .8; 
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.png{
    height: 45px;
    width: 45px;
    border-radius: 18px;
}



